{
  "apiVersion": "1.0.0",
  "swaggerVersion": "1.2",
  "basePath": "http://localhost:3000<%= mount_path %>",
  "resourcePath": "/api-documentation",
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "apis": <%= JSON.pretty_generate(defined_apis) %>,
  "info": <%= JSON.pretty_generate(swagger_api_config) %>
}
